body{
    font-family: 'Comfortaa';
}

.maindiv{
    width: 60%;
    float: left;
    text-align: center;
    margin-left: 20%;
}

.pred_table{
    font-size: 190%;
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
    font-family: 'Poppins';
    
}

.Predictor_input{
    font-size: 70%;
    font-family: 'Comfortaa';
    text-align: center;    
    border-width: 0px 0px 2px 0px; /* top right bottom left */
    border-style: solid ;
    border-color: gray;   

}

.PredButton{

    background-color:#D61C5D;
    border-radius: 0px;
    float: left;
    width: 30%;
    color: white;
    font-size: 150%;
    margin-top: 5%;
    margin-left: 35%;
    padding: 2%;

}
.PredButton:hover{
    cursor: pointer;
}

.Prediction{
    color: #D61C5D;
}